
.buildpath

.project

.settings/.jsdtscope

*.prefs

*.container

*.name
/.metadata/.lock
/.metadata/.log
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.plugins/org.eclipse.core.resources/.history/1f/602835cc6dc100151abff64eef2eaf7a
/.metadata/.plugins/org.eclipse.core.resources/.history/2b/101a93b16ac1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/2b/e0b2342560c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/2c/50f6587961c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/32/c093f57e61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/3d/a0f1113e61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/4e/b0b1579260c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/56/f0eb996760c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/6f/30a795d16dc100151abff64eef2eaf7a
/.metadata/.plugins/org.eclipse.core.resources/.history/74/606e4bc261c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/79/403e82937cc1001517abc8950be0561c
/.metadata/.plugins/org.eclipse.core.resources/.history/85/8024e14c61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/8b/a054e89f61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/8f/202a7fa961c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/9/108e610061c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/93/f0ab58ba61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/94/00f9f16060c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/a5/d0f8470f69c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/b1/205273d16dc100151abff64eef2eaf7a
/.metadata/.plugins/org.eclipse.core.resources/.history/b3/0003f39f61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/bc/201b2ef160c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/c3/60e1627961c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/c4/a0b5aa3b61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/c6/20a1dc7660c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/d/7047053e61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/d1/6033640f69c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/e/00f59e6760c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/e/1067290061c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/f3/60f2174a61c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/f5/30c2b60869c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/f9/6004ba7360c1001516febacf2bf1c913
/.metadata/.plugins/org.eclipse.core.resources/.history/fd/104f11876ec100151abff64eef2eaf7a
/.metadata/.plugins/org.eclipse.core.resources/.projects/JeuWebServer/.indexes/af/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/JeuWebServer/.indexes/e4/86/bd/69/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/JeuWebServer/.indexes/e4/86/bd/c1/history.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json
/.metadata/.plugins/org.eclipse.jdt.core/1075865446.index
/.metadata/.plugins/org.eclipse.jdt.core/1126381264.index
/.metadata/.plugins/org.eclipse.jdt.core/152699204.index
/.metadata/.plugins/org.eclipse.jdt.core/165760496.index
/.metadata/.plugins/org.eclipse.jdt.core/1681516525.index
/.metadata/.plugins/org.eclipse.jdt.core/1800111112.index
/.metadata/.plugins/org.eclipse.jdt.core/2053797313.index
/.metadata/.plugins/org.eclipse.jdt.core/2085746493.index
/.metadata/.plugins/org.eclipse.jdt.core/2235551016.index
/.metadata/.plugins/org.eclipse.jdt.core/2528020881.index
/.metadata/.plugins/org.eclipse.jdt.core/2671045963.index
/.metadata/.plugins/org.eclipse.jdt.core/2851524012.index
/.metadata/.plugins/org.eclipse.jdt.core/286217041.index
/.metadata/.plugins/org.eclipse.jdt.core/3306367843.index
/.metadata/.plugins/org.eclipse.jdt.core/3494372537.index
/.metadata/.plugins/org.eclipse.jdt.core/3524662672.index
/.metadata/.plugins/org.eclipse.jdt.core/3595443703.index
/.metadata/.plugins/org.eclipse.jdt.core/4089353016.index
/.metadata/.plugins/org.eclipse.jdt.core/462786078.index
/.metadata/.plugins/org.eclipse.jdt.core/565102271.index
/.metadata/.plugins/org.eclipse.jdt.core/737875853.index
/.metadata/.plugins/org.eclipse.jdt.core/742974785.index
/.metadata/.plugins/org.eclipse.jdt.core/864217671.index
/.metadata/.plugins/org.eclipse.jdt.core/906692332.index
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JeuWebServer/2016/1/3/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JeuWebServer/2016/1/3/refactorings.index
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
/.metadata/.plugins/org.eclipse.oomph.setup.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
/.recommenders/caches/identified-project-coordinates.json
/.recommenders/caches/manual-mappings.json
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
/JeuWebServer/*.classpath
/JeuWebServer/bin/jeuweb/server/data/*.class
/JeuWebServer/bin/jeuweb/server/extension/*.class
/JeuWebServer/bin/jeuweb/server/handlers/*.class
